body {
    font-family: 'Arial', sans-serif;
  }
  
  .navbar {
    background-color: #343a40;
  }
  
  .navbar-brand,
  .navbar-nav .nav-link {
    color: #ffffff;
    &:hover {
      color: #17a2b8;
    }
  }
  
  .carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: box-shadow 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  h2 {
    color: #333;
  }
  
  #about {
    background-color: #17a2b8;
    color: #000000;
    margin-top: 20px;
  }
  
  .about-content {
    text-align: center;
  }
  
  .about-title {
    color: #ff0000;
  }
  

  #contact {
    margin-top: 40px;
    background-color: #343a40;
    color: white;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  h2{
    color: white;
  }